project/DebugConfig
project/Listings
project/Objects
project/*.uvguix
project/*.uvoptx
project/*.ini
project/*.scvd
project/*.Administrator*
Administrator
project/.vscode
project/EventRecorderStub.scvd
project/JLinkLog.txt